@charset "UTF-8";
body {
  font-family: "'Noto Sans JP';";
  background: #111;
  color: #fff;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.jigyou-naiyou__breadcrumb-layout {
  margin: 0 20px;
  margin: 0 1.25rem;
  margin-bottom: 85px;
  margin-bottom: 5.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.jigyou-naiyou__breadcrumb-list::after {
  content: ">";
  margin: 0 5px;
  margin: 0 0.3125rem;
}
.jigyou-naiyou__breadcrumb-list:last-child::after {
  content: "";
  margin: 0;
}
.jigyou-naiyou__breadcrumb-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 335px;
  max-width: 20.9375rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .jigyou-naiyou__breadcrumb-wrap {
    max-width: 68.125rem;
  }
}

.jigyou-naiyou__contact-inner {
  display: inline-block;
}
.jigyou-naiyou__contact-layout {
  text-align: center;
  background: rgb(61, 61, 61);
  padding: 64px 20px;
  padding: 4rem 1.25rem;
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .jigyou-naiyou__contact-layout {
    padding: 9.25rem 1.25rem;
  }
}

.jigyou-naiyou__contact-title {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  font-size: 1.5625rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.44;
  position: relative;
}
@media screen and (min-width: 768px) {
  .jigyou-naiyou__contact-title {
    font-size: 1.875rem;
    line-height: 1.166;
    letter-spacing: 0.125rem;
    margin-bottom: 1.5rem;
  }
}

.jigyou-naiyou__contact-title > p {
  text-align: center;
}
.jigyou-naiyou__contact-title::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
  content: "Contact";
  display: block;
  color: rgba(249, 248, 113, .27);
  font-family: "Noto Serif JP", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  font-size: 3.125rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.44;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .jigyou-naiyou__contact-title::before {
    font-size: 6.875rem;
    line-height: 1.436;
    -webkit-transform: translate(-127%, -73%);
            transform: translate(-127%, -73%);
  }
}

.jigyou-naiyou__contact-message {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.4375;
}
@media screen and (min-width: 768px) {
  .jigyou-naiyou__contact-message {
    line-height: 2.1875;
    margin-bottom: 3.0625rem;
  }
}

.jigyou-naiyou__inquiry {
  border: solid 1px #fff;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.45;
}
.jigyou-naiyou__inquiry-layout {
  position: relative;
  width: 335px;
  width: 20.9375rem;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .jigyou-naiyou__inquiry-layout {
    width: 22.5rem;
  }
}

.jigyou-naiyou__inquiry-layout::before {
  content: "";
  display: block;
  padding-top: 14.92%;
}
@media screen and (min-width: 768px) {
  .jigyou-naiyou__inquiry-layout::before {
    padding-top: 16.66%;
  }
}

.jigyou-naiyou__inquiry-layout p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.jigyou-naiyou__inquiry-layout::after {
  position: absolute;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.jigyou-naiyou__inquiry-layout:hover:after {
  left: 0;
  color: #333;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.jigyou-naiyou__inquiry-layout:hover p {
  color: #333;
  position: absolute;
  z-index: 5;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.jigyou-naiyou__footer-layout {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .jigyou-naiyou__footer-layout {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .jigyou-naiyou__footer-list-leftspace {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .jigyou-naiyou__footer-list-title {
    margin-right: auto;
  }
}

.jigyou-naiyou__footer-list {
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}
.jigyou-naiyou__footer-list:last-child {
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
.jigyou-naiyou__footer-wrap {
  text-align: center;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .jigyou-naiyou__footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.jigyou-naiyou__footer-copyright {
  text-align: center;
}
.jigyou-naiyou__footer-list-title img {
  position: relative;
  width: 70px;
  width: 4.375rem;
}
.jigyou-naiyou__footer-list-title a {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .jigyou-naiyou__kigyou-rinen-contents-image.jigyou-naiyou__kigyou-rinen-contents-image-space-left {
    margin-left: 1.875rem;
  }
}

@media screen and (min-width: 768px) {
  .jigyou-naiyou__kigyou-rinen-contents-image.jigyou-naiyou__kigyou-rinen-contents-image-space-right {
    margin-right: 1.875rem;
  }
}

@media screen and (min-width: 768px) {
  .jigyou-naiyou__kigyou-rinen-contents-inner-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.jigyou-naiyou__kigyou-rinen-contents-message {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4375;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
}
@media screen and (min-width: 768px) {
  .jigyou-naiyou__kigyou-rinen-contents-message {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2.1875;
    letter-spacing: 0.03125rem;
  }
}

.jigyou-naiyou__kigyou-rinen-contents-text-wrap-space {
  margin: 0 20px;
  margin: 0 1.25rem;
  margin-top: 20px;
  margin-top: 1.25rem;
}
.jigyou-naiyou__kigyou-rinen-contents-layout {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
.jigyou-naiyou__kigyou-rinen-contents-layout:last-child {
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
@media screen and (min-width: 768px) {
  .jigyou-naiyou__kigyou-rinen-contents-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 1.25rem;
    max-width: 68.125rem;
  }
}

@media screen and (min-width: 768px) {
  .jigyou-naiyou__kigyou-rinen-contents-text-wrap {
    width: 31.875rem;
  }
}

.jigyou-naiyou__kigyou-rinen-contents-text-wrap > .jigyou-naiyou__kigyou-rinen-contents-title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.45;
  text-align: center;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .jigyou-naiyou__kigyou-rinen-contents-text-wrap > .jigyou-naiyou__kigyou-rinen-contents-title {
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5625rem;
    letter-spacing: 0.03125rem;
    line-height: 0.64;
  }
}

.jigyou-naiyou__kigyou-rinen-contents-image {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .jigyou-naiyou__kigyou-rinen-contents-image {
    margin: 0;
    width: 33.5625rem;
  }
}

.jigyou-naiyou__kigyou-rinen-contents-image::before {
  content: "";
  display: block;
  padding-top: 67%;
}
@media screen and (min-width: 768px) {
  .jigyou-naiyou__kigyou-rinen-contents-image::before {
    padding-top: 66.7%;
  }
}

.jigyou-naiyou__kigyou-rinen-contents-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.jigyou-naiyou__kigyou-rinen-inner {
  display: inline-block;
  max-width: 375px;
  max-width: 23.4375rem;
}
@media screen and (min-width: 768px) {
  .jigyou-naiyou__kigyou-rinen-inner {
    max-width: 68.125rem;
  }
}

.jigyou-naiyou__kigyou-rinen-layout {
  text-align: center;
  margin-bottom: 120px;
  margin-bottom: 7.5rem;
}
@media screen and (min-width: 768px) {
  .jigyou-naiyou__kigyou-rinen-wrap-top-layout {
    max-width: 35.5rem;
  }
}

.jigyou-naiyou__kigyou-rinen-wrap-top {
  margin: 0 auto;
  margin-bottom: 80px;
  margin-bottom: 5rem;
  padding: 0 20px;
  padding: 0 1.25rem;
}
.jigyou-naiyou__kigyou-rinen-wrap-top > h3 {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.75;
  color: #ffffff;
  text-align: center;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .jigyou-naiyou__kigyou-rinen-wrap-top > h3 {
    font-size: 1.5625rem;
  }
}

.jigyou-naiyou__kigyou-rinen-wrap-top > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.4375;
  text-align: left;
}
.jigyou-naiyou__mv-layout {
  margin-bottom: 14px;
  margin-bottom: 0.875rem;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .jigyou-naiyou__mv-layout {
    height: 23.125rem;
  }
}

.jigyou-naiyou__mv-inner {
  position: relative;
  width: 100vw;
  height: 425px;
  height: 26.5625rem;
  background-image: url(/images/jigyou-naiyou-mv.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.jigyou-naiyou__mv-shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, .2);
}
.js-jigyou-naiyou__scroll-layout {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 45px;
  width: 2.8125rem;
  height: 45px;
  height: 2.8125rem;
  background: rgb(255, 255, 255);
  margin-right: 21px;
  margin-right: 1.3125rem;
  margin-bottom: 41px;
  margin-bottom: 2.5625rem;
  overflow: hidden;
}
.js-jigyou-naiyou__scroll-layout::before {
  content: "";
  display: block;
  width: 20px;
  width: 1.25rem;
  height: 2px;
  background: #333;
  position: absolute;
  top: 50%;
  left: 65%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.js-jigyou-naiyou__scroll-layout::after {
  content: "";
  display: block;
  width: 20px;
  width: 1.25rem;
  height: 2px;
  background: #333;
  position: absolute;
  top: 50%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.js-jigyou-naiyou__scroll-layout:hover:before,
.js-jigyou-naiyou__scroll-layout:hover:after {
  background: #fff;
  position: absolute;
  z-index: 5;
  -webkit-transition: 1s all linear;
  transition: 1s all linear;
}
.js-jigyou-naiyou__scroll-layout span {
  width: 100%;
  height: 100%;
  display: block;
}
.js-jigyou-naiyou__scroll-layout span::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #333;
  -webkit-transform: none;
          transform: none;
  position: absolute;
  top: -100%;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: 1s all linear;
  transition: 1s all linear;
}
.js-jigyou-naiyou__scroll-layout span:hover:before {
  top: 0;
  -webkit-transition: 1s all linear;
  transition: 1s all linear;
}
.js-drawer-menu {
  display: inline-block;
  height: 100%;
  position: absolute relative;
  top: 0;
  right: 0;
  z-index: 5;
}
.js-drawer-menu-wrap {
  display: inline-block;
  position: relative;
  width: 24px;
  width: 1.5rem;
  height: 100%;
}
.js-drawer-menu-wrap span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 24px;
  width: 1.5rem;
  height: 2px;
  background: #fff;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.js-drawer-menu-wrap span::before {
  content: "";
  display: block;
  width: 24px;
  width: 1.5rem;
  height: 2px;
  height: 0.125rem;
  background: #fff;
  position: absolute;
  top: 8px;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.js-drawer-menu-wrap span::after {
  content: "";
  display: block;
  width: 24px;
  width: 1.5rem;
  height: 2px;
  height: 0.125rem;
  background: #fff;
  position: absolute;
  top: -8px;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.js-drawer-menu-wrap__open span {
  background: transparent;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.js-drawer-menu-wrap__open span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.js-drawer-menu-wrap__open span::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.kigyou-naiyou__header-layout {
  height: 50px;
  height: 3.125rem;
  padding: 0 20px;
  padding: 0 1.25rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(17, 17, 17, .5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.kigyou-naiyou__header-title {
  display: inline-block;
  position: relative;
  width: 70px;
  width: 4.375rem;
  z-index: 1;
}
.kigyou-naiyou__header-title::before {
  content: "";
  display: block;
  padding-top: 71.4285%;
}
.kigyou-naiyou__header-title img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.sp-menu__layout {
  position: absolute;
  top: 0;
  left: -100%;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100vh;
  background: rgb(17, 17, 17);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.sp-menu__layout-open {
  left: 0;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.sp-menu__wrap {
  text-align: center;
}
.sp-menu__list {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
/*# sourceMappingURL=styles.css.map */
